<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Usuários</title>
    <!-- Inclua o CSS do Tailwind -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold mb-4">Lista de Usuários</h1>
      <ul>
        <% usuarios.forEach(function(usuario) { %>
        <li class="bg-white shadow-md rounded-md p-4 mb-4">
          <p class="text-lg font-semibold">Nome: <%= usuario.nome %></p>
          <p class="text-gray-600">Email: <%= usuario.email %></p>
          <p class="text-gray-600">Plano: <%= usuario.planos %></p>
          <p class="text-gray-600">
            Espaço de Armazenamento: <%= usuario.storage %>
          </p>
          <p class="text-gray-600">Expira em: <%= usuario.expira_em %></p>
          <p class="text-gray-600">
            Email Verificado: <%= usuario.emailVerificado ? 'Sim' : 'Não' %>
          </p>
          <!-- Botão para ver arquivos publicados -->
          <a
            href="/visualizar_arquivos/<%= usuario.uid %>"
            class="mt-2 mr-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
            >Ver Arquivos Publicados</a
          >
          <!-- Botão para banir usuário -->
          <form
            action="/banir_usuario/<%= usuario.uid %>"
            method="POST"
            class="inline"
          >
            <button
              type="submit"
              class="mt-2 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
            >
              Banir Usuário
            </button>
          </form>
        </li>
        <% }); %>
      </ul>
      <!-- Botão para enviar email para todos os usuários -->
      <a
      href="/compor_mensagem"
      class="mt-2 mr-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
      >COMPOR EMAIL</a
    >
      </form>
    </div>
  </body>
</html>
